/* Estilos para el cuerpo del documento */
body {
    font-family: Arial, sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Estilos para los títulos */
h1, h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Estilos para los botones */
.btn {
    margin-right: 10px;
}

/* Estilos para la lista de elementos */
ul {
    list-style-type: none;
    padding-left: 0;
}

/* Estilos para los elementos de lista */
li {
    margin-bottom: 5px;
}

/* Estilos para el div de opciones */
.options-div {
    margin-top: 20px;
}

/* Estilos para el div de comentarios y etiquetas */
.comments-tags-div {
    margin-top: 20px;
}

/* Estilos para los botones de Bootstrap */
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}
